<li id="comment-<%= comment.id %>">
    <p>
        <% if(locals.user && (comment.user.id == locals.user.id || post.user.id == locals.user.id)){ %> 
            <a href="/comments/destroy/<%= comment.id %>" class="delete-comment-button" id="delete-button-<%= comment.id %>">X</a>    
        <% } %>
        
        <%= comment.content %>
        <br>
        <small>
            <%= comment.user.name %>
        </small>
    </p>
    <% if(locals.user){ %>
        <%- include('_likeForComment') -%>
    <% } %>
</li>